/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.hide {
    display: none;
}

.cell {
    max-width: 6em;
    max-height: 1.2em;
    display: block;
    overflow: hidden;
}

.passed {
    background-color: lightgreen;
}

.failed {
    background-color: red;
}

.module {
    min-width: 3em;
}

.suite {
    margin-left: 3em;
    min-width: 3em;
}

.spec {
    margin-left: 6em;
    min-width: 3em;
}

.spec .pass {
    background-color: lightgreen;
}

.spec .fail {
    background-color: #ff0000;
}

.all-test-results td:not(:first-child) {
    text-align: right;
}
